.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    background-color:#cce9fc;
    color: black;
  }
  
  .footer h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .footer p {
    font-size: 14px;
  }
  
  .footer-links {
    margin-bottom: 20px;
  }
  
  .footer-links h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-links a {
    display: block;
    color: green;
    margin-bottom: 5px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: black;
  }
  
  .footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-top: 1px solid #444;
  }
  
  .footer-bottom p {
    font-size: 12px;
  }
  
  .footer-bottom a {
    color: green;
    margin-left: 15px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footer-bottom a:hover {
    color: black;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

.footer-right{
    width: 500px;
    display: flex;
    justify-content: space-evenly;
}