.navbar{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    width: 450px;
}
.nav-links a{
    color: #4c4d5f;
}
.nav-btns{
    display: flex;
    justify-content: space-between;
    width: 250px;
}